# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

In [2]:
# covered yesterday

##### Using 'and' in if statements

In [3]:
# covered yesterday

##### Using both 'or' and 'and' in if statements

In [4]:
# covered yesterday

### String Manipulation

##### .lstrip()

In [3]:
# string.lstrip()
my_string="Gio plays too many video games"
print(my_string.lower())
print(my_string)
my_string = my_string.lower()
print(my_string)

gio plays too many video games
Gio plays too many video games
gio plays too many video games

In [4]:
my_string.upper()

'GIO PLAYS TOO MANY VIDEO GAMES'

In [5]:
my_string.title()

'Gio Plays Too Many Video Games'

In [6]:
name = "   Francisco   "
print("word", name.lstrip('r Fnc'), "word", sep="")

wordancisco   word

In [10]:
# string.rstrip()
name = "   Francisco   "
print("word", name.rstrip('  ocsi'), "word", sep="")

word   Franword

##### .strip()

In [9]:
# string.strip()
# string.rstrip()
name = "   Francisco   "
print("word", name.strip('Fr co'), "word", sep="")

wordancisword

##### .title()

In [23]:
# string.title()
my_string.title()

'Gio Plays Too Many Video Games'

In [24]:
#SPLIT
my_string="Hello all you guys I hope you are having a great day"
print(my_string.split())

['Hello', 'all', 'you', 'guys', 'I', 'hope', 'you', 'are', 'having', 'a', 'great', 'day']

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [22]:
my_names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
n_names=[]
for name in names:
    n_names.append(name.title().strip())
print(n_names)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [25]:
# min(list)
my_list = [68, 58, 29,123, 6.3, 1.1]

min(my_list)

1.1

In [26]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

##### max()

In [27]:
# max(list)
max(my_list)

123

##### sum()

In [28]:
# sum(list)
print(sum(my_list))

285.40000000000003

##### sorted()

In [33]:
# sorted(list)
# returns a copy of the array in sorted order
print(sorted(my_list))
#just to show sorted function is an out of place function
print(my_list)

print(sorted(my_list, reverse=True))

[1.1, 6.3, 29, 58, 68, 123]
[68, 58, 29, 123, 6.3, 1.1]
[123, 68, 58, 29, 6.3, 1.1]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [38]:
# list.sort()
print(my_list.sort())
#sort will print none until the list is printed after applying the function
print(my_list)

my_list.sort(reverse=True)
print(my_list)

None
[1.1, 6.3, 29, 58, 68, 123]
[123, 68, 58, 29, 6.3, 1.1]

##### Copying a List

In [41]:
# [:] copies a list, doesn't alter original
my_list1 = [1,4,5,6,6,2]
my_list2 = my_list1
my_list3 = [1,4,5,6,6,2]

print(my_list1)
print(my_list2)

#prints the memory location
print(id(my_list1))

[1, 4, 5, 6, 6, 2]
[1, 4, 5, 6, 6, 2]
2179540426048

##### 'in' keyword

##### 'not in' keyword

##### Checking an Empty List

In [42]:
bool([1])

True

In [43]:
bool([])

False

In [47]:
my_list = []
if not my_list:
    print('I am empty')
else:
    print('I am full')

I am empty

##### Removing Instances with a Loop

In [51]:
# while, remove
my_class = ['shile', 'toni', 'taiye', 'friend', 'Sarah']

while 'taiye' in my_class:
    my_class.remove("taiye")
    print("I removed taiye from my class roster. we now have:", my_class)

I removed taiye from my class roster. we now have: ['shile', 'toni', 'friend', 'Sarah']

In [52]:
my_class = ['shile', 'toni', 'taiye', 'friend', 'Sarah']
my_class.count('taiye')

1

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [56]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names = list(set(names))
print(names)

[2, 3, 4, 'max', 'connor', 'evan', 'kevin', 'bob']

In [59]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
new_names=[]
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

#####.join

In [ ]:
# string method!!
my_class = ['shile', 'toni', 'taiye', 'friend', 'Sarah']
print(",".join(my_class))
print("*")

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [63]:
my_class = ['Shile', 'Toni', 'Taiye', 'Friend', 'Sarah', 'Bro', 'Sis']

new_list=[]
for person in my_class:
    new_list.append(person)
print(new_list)

['Shile', 'Toni', 'Taiye', 'Friend', 'Sarah', 'Bro', 'Sis']

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [61]:
new_list=[]
for person in my_class:
    new_list.append(person.lower()[0])
print(new_list)

['s', 't', 't', 'f', 's']

In [62]:
new_list=[]
for person in my_class:
    new_list.append(person[0])
print(new_list)

['s', 't', 't', 'f', 'S']

In [65]:
new_list = [person for person in my_class if person[0].lower()=='s']
print(new_list)

['Shile', 'Sarah', 'Sis']

In [66]:
new_list=[]
for person in my_class:
    if person[0].lower() =='s':
        new_list.append(person)
    else:
        new_list.append("not cool doesn't start with S")
print(new_list)

['Shile', "not cool doesn't start with S", "not cool doesn't start with S", "not cool doesn't start with S", 'Sarah', "not cool doesn't start with S", 'Sis']

In [67]:
new_list = [person if person[0].lower()=='s' else "not cool doesn't start with S" for person in my_class]
print(new_list)

['Shile', "not cool doesn't start with S", "not cool doesn't start with S", "not cool doesn't start with S", 'Sarah', "not cool doesn't start with S", 'Sis']

In [74]:
my_class=["Grady", "Dara", "Scarlett", "Patrick", "Ku", "Frank", "Aydee"]
# pull out 5 letter names....if the name is not five letter add in Not a five letter name



new_list = [person if len(person) ==5 else "Not a five letter name" for person in my_class]
print(sorted(new_list))

['Aydee', 'Frank', 'Grady', 'Not a five letter name', 'Not a five letter name', 'Not a five letter name', 'Not a five letter name']

In [75]:
my_class=["Grady", "Dara", "Scarlett", "Patrick", "Ku", "Frank", "Aydee"]
# given a list (my_list) use a list comprehension to give me the
#last letter of each word lowercased

my_list=["Levi", "Axel", "Carmelo", "Yakov", "Katie", "Alec", "Angelo", "David", "Trace"]
new_list = [name[-1].lower for name in my_list]
print(my_list)

['Levi', 'Axel', 'Carmelo', 'Yakov', 'Katie', 'Alec', 'Angelo', 'David', 'Trace']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [77]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [80]:
my_tup = (1,2,3,4)
type(my_tup)

#OR

my_tup = 1,2,3,4
type(my_tup)

tuple

In [81]:
#DECLARE AN EMPTY TUPLE

# THIS IS USELESS because it is an empty list that can't be changed
t2 = tuple()
t3 = ()

print(type(t2))
type(t3)

<class 'tuple'>

tuple

In [164]:
my_tup = ("Jacoby","Ola","Sarah","Alex")
print(sorted(my_tup))

['Alex', 'Jacoby', 'Ola', 'Sarah']

In [83]:
my_tup[3]

'Alex'

In [85]:
my_tup.index("Alex")

3

In [86]:
my_tup.append(Dylan)

AttributeError: 'tuple' object has no attribute 'append'

##### sorted()

In [88]:
sorted_tup = tuple(sorted(my_tup, reverse=True))
sorted_tup

('Sarah', 'Ola', 'Jacoby', 'Alex')

In [89]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [90]:
my_tup[2] = steve
#WON'T WORK BECAUSE WE CAN'T CHANGE THE FUNCTIONS(ELEMENT) OF A TUPLE

NameError: name 'steve' is not defined

In [91]:
new_tup = (1,2,3,["A","B","C"],4)
#new_tup[3]=["X","Y","Z"]
new_tup[3][1]="Y"
new_tup

(1, 2, 3, ['A', 'Y', 'C'], 4)

##### Adding values to a Tuple

In [92]:
#Reconstruct the tuple an
my_tup = ("Jacoby","Ola","Sarah","Alex")
my_tup=my_tup + ("Crux","Collin")
my_tup

('Jacoby', 'Ola', 'Sarah', 'Alex', 'Crux', 'Collin')

## Functions

##### User-Defined vs. Built-In Functions

In [115]:
def say_hello():
    print("Hello")

print(say_hello())

Hello
None

In [103]:
print(say_hello)

<function say_hello at 0x000001FB76C1B5E0>

In [118]:
def add():
    return 6+3
print(add()+3)
print("That is all folks")

print(add()==8)

type(add())

type(8)

12
That is all folks
False

int

##### Accepting Parameters

In [133]:
# Order matters
# A variable can be any type of object

#positional arguments
#f, l are parameters 

def print_full_name(f, l, m):
    print(f"{f} {l} {m}")
print_full_name('shile', "Ola", 'Shinaba')

shile Ola Shinaba

##### Default Parameters

In [125]:
def agent_name(first, last="Shinaba"):
    print(f"Your secret agent name is {last}, {first} {last}")
agent_name("Shile", )

Your secret agent name is Shinaba, Shile Shinaba

In [128]:
def my_function():
    print("line 1")
    return
#code stops runnning at the return line hence line 2 cannot be printed
    print("line 2")
# line 3 print because it is on a different line
print("line 3")

my_function()

line 3
line 1

In [131]:
def what_datatype():
    return ["hey", 123, [4,5], 187.233, {"hello":"guys"}]

type(what_datatype()[4]["hello"])

str

##### Making an Argument Optional

##### Keyword Arguments

# Creating a start, stop, step function

##### Returning Values

##### *args and *Kwargs

In [134]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents
print(1,2.3,3,5,5,6,7,8,9,123,345,456,674,246)

1 2.3 3 5 5 6 7 8 9 123 345 456 674 246

In [139]:
def my_func(name, *args):
    print(name)
    for arg in args:
        print("Following arg is :", arg, type(arg))
my_func("Ola", 123.3, [1,2,3], "I am too cool", "KEVIN IS THE BEST" )

Ola
Following arg is : 123.3 <class 'float'>
Following arg is : [1, 2, 3] <class 'list'>
Following arg is : I am too cool <class 'str'>
Following arg is : KEVIN IS THE BEST <class 'str'>

In [140]:
def my_func(name, **kwargs):
    print(name)
    print(type(kwargs))
    print(kwargs)
    for key in kwargs:
        print(key, kwargs[key])

my_func('Sarah', weight=85, height=64, foods=['Tacos', 'Steak', 'Strawberry'], Haircolor)

SyntaxError: positional argument follows keyword argument (3715296613.py, line 8)

##### Docstring

##### Using a User Function in a Loop

In [143]:
def add_two(n):
    return n+2
while True:
    ask = int(input('what is your number?'))
    new_value=add_two(ask)
    print(f"The new number is {new_value}")
    response = input("Ready to quit? [type quit]")
    if response.lower()== "quit":
        break

what is your number?10
The new number is 12
Ready to quit? [type quit]n
what is your number?13
The new number is 15
Ready to quit? [type quit]quit

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [147]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

def add_name(first_names, last_names):
    full_names = []
    for index in range(len(first_names)):
        full_names.append(first_names[index] + " " + last_names[index])
    return full_names
print(add_name(first_name, last_name))


# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

In [149]:
def add_names_comp(first_names, last_names):
    return [first_names[index] + " " + last_names[index] for index in range(len(first_names))]
add_names_comp(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [21]:
#placement of variable declaration matters
--LEGB----
Local
Enclosing
Global
Built-in

In [151]:
#Local scope
var1 = "a"
var2 = "b"
#built in scope 
def my_function():
    print("inside the function", var1)
    var2="c"
    print("inside the function", var2)
my_function()
print(var2)

inside the function a
inside the function c
b

In [152]:
a_list = ["A", "B", "C"]

letter = "X"
print("below", letter)

for letter in a_list:
    y=123
    print(letter)

print(y)
print("below", letter)

below X
A
B
C
123
below C

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [163]:
# Use the following list - [1,11,14,5,8,9]
list = [1,11,14,5,8,9]
N = [10]

def less_than(List, N):
    return [y for y in List if y < N]

less_than([1, 11, 14, 5, 8,9], 10)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [186]:
#yesterdays lecture
def Merge(name1,name2 ):
    merge_name = name1 + name2 
    merge_name.sort()
    return(merge_name)

name1 = ['John', 'Evan', 'Jordan', 'Max']
name2 = ['Smith', 'Smith', 'Williams', 'Bell']
print(Merge(name1, name2))

['Bell', 'Evan', 'John', 'Jordan', 'Max', 'Smith', 'Smith', 'Williams']

In [191]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

def Merge(first_name, last_name):
    whole_name.sort()
    whole_name = first_name + last_name
    return(whole_name)


print(Merge(first_name, last_name)

SyntaxError: unexpected EOF while parsing (2426359165.py, line 10)